<link rel="stylesheet" href="styles/footer/layout.css">
<link rel="stylesheet" href="styles/footer/content.css">



<div class="footer-container">
    <div class="first-step-footer"><h1>Take the first step</h1></div>
    <div class="email-footer">croberts2068@gmail.com</div>
    <div class="nav-footer">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/benefits">Benefits of <br>Counselling</a></li>
            <li><a href="/fees">Fees</a></li>
            <li><a href="/faq">FAQs</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div class="tos-container">
        <p>Terms of service | Privacy Policy | Website by RiDDLTech</p>
    </div>

</div>


    </body>
</html>