<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MindWell Counselling</title>
    <link rel="stylesheet" href="styles/navbar/layout.css">
    <link rel="stylesheet" href="styles/navbar/content.css">
    <script defer src="jsFiles/navbar.js"></script>
</head>
<header>
    <div class="hamburger-container">
        <nav>
            <ul>
                <li><a href="/"><img src="images/logo.png"></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/benefits">Benefits of <br>Counselling</a></li>
                <li><a href="/fees">Fees</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>

    <div class="hamburger-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="navbar-mobile">
        <div class="navbar-mobile-logo">
            <img src="images/logo.png">
        </div>

    </div>

</header>

<body>

<div class="background"><img src="images/sun.jpg"></div>