<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/about/layout.css">
<link rel="stylesheet" href="styles/about/content.css">

<div class="about-background"></div>

<div class="about-special-container">
    <div class="about-content-container">
        <div><h1 class="about-header">About</h1></div>
        <div><img src="images/front-photo.jpg"></div>

        <div class="about-text"><p>I am qualified person-centred counsellor based in Warwickshire but able to work online anywhere in the UK.
                Person-Centred counselling provides a supportive and non-judgemental space for you to talk openly about
                anything and everything that might be troubling you at that moment in time. My role is to support you in
                finding answers to the things that are troubling you and to guide you in building resilience so you can
                deal with whatever comes your way in the future.
                </p>
        </div>

        <div class="training-container">
            <h3>Training</h3>
            <div class="depression"><h4>Depression</h4></div>
            <div class="anxiety"><h4>Anxiety</h4></div>
            <div class="suicidal-thoughts"><h4>Suicidal Thoughts</h4></div>
            <div class="neurodiversity"><h4>Neurodiversity</h4></div>
            <div class="child-abuse"><h4>Child Abuse</h4></div>
            <div class="low-self-esteem"><h4>Low Self-Esteem</h4></div>
        </div>

        <div class="para1">
            <p>My personal experiences and training have given me a broad understanding of life and emotions which has led
                me to a non-judgmental down-to-earth approach. My areas of professional interest include depression,
                anxiety, stress, relationships, self-esteem, parent and child relationships, self harming, loss and trauma.
                I believe in personal growth and I want to empower my clients to gain knowledge, self awareness and
                self-confidence.
            </p>
        </div>

        <div class="para2">
            <p>I gained experience in an agency that was passionate about removing shame from the therapy process and
                enabling people to feel confident in asking for help when it is needed but also building resilience to help
                themselves build strategies for the future.
            </p>
        </div>
        <div class="para3">
            <p>I have also worked with young people aged 16-18 in a pastoral role for many years so I can see the
                challenges of being a teenager in a world that feels as though it is shifting underneath you.
                My clients are of all genders aged 16 and above presenting with an array of different diagnoses and life
                issues including those who want to maintain a sense of wellbeing.
            </p>
        </div>

        <div class="qualifications-container">
            <h3>Qualifications</h3>
            <ul>
                <li>BSc (Hons) Psychology</li>
                <li>CPCAB L4 Diploma in Therapeutic Counselling</li>
                <li>CPCAB L3 Certificate In Counselling Studies</li>
                <li>CPCAB L2 Certificate in Counselling Skills</li>
                <li>Volunteer Student Counsellor - Therapy Centre Services </li>
            </ul>
        </div>

        <div class="bacp-container">
            <img class="bacp-logo" src="images/bacplogo.jpg">

            <p>I am a member of the BACP (British Association for Counselling & Psychotherapy) ethical body. I follow
                their ethical framework to ensure clients are treated professionally and ethically which includes
                regular supervision and regular training. 
            </p>

            <p>As a counsellor I feel ongoing training is not just a requirement of being a member of the BACP, I also
                feel it is necessary to be able to offer the best I can to any clients. Because of this I actively
                engage in continual CPD (continuing professional development) in a variety of ways and areas so I can
                support my clients better. 
            </p>
        </div>

        <div class="understand-paragraph">
            <p>I understand that meeting someone new can be difficult and you might not know what to expect especially
                if you have not had counselling before. I offer a free introductory session for 15 minutes either on
                the telephone or in an online meeting. This is an ideal time for you to ask me any questions that you
                might have, see if you feel comfortable with me, and also to go over how we can work together. Maybe
                think of it as a ‘getting to know you’ session.
            </p>
        </div>

    </div>
</div>

<script defer src="jsFiles/about.js"></script>
<script defer src="jsFiles/altNav.js"></script>
<%- include("partials/footer.ejs") %>