<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/benefits/layout.css">
<link rel="stylesheet" href="styles/benefits/content.css">

<div class="background-benefits"></div>
<div class="benefits-container">
    <h1>Benefits of <br>Counselling</h1>

    <div class="clarity-container">
        <h2>Clarity</h2>
        <img src="images/Clarity.jpg">
    </div>

    <div class="self-awareness-container">
        <h2>Self-Awareness</h2>
        <img src="images/SelfAwareness.png">
    </div>

    <div class="choices-container">
        <h2>Choices</h2>
        <img src="images/Choices.png">
    </div>

    <div class="change-container">
        <h2>Change</h2>
        <img src="images/Change.png">
    </div>

    <div class="self-belief-container">
        <h2>Self-belief</h2>
        <img src="images/self-belief.png">
    </div>

    <div class="resilience-container">
        <h2>Resilience</h2>
        <img src="images/resilience.png">
    </div>

</div>

<script defer src="jsFiles/benefits.js"></script>
<script defer src="jsFiles/altNav.js"></script>
<%- include("partials/footer.ejs") %>