<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/fees/layout.css">
<link rel="stylesheet" href="styles/fees/content.css">

<div class="faq-background"></div>

<div class="faq-container-container">
    <div class="faq-container">
        <h1>Fees</h1>
        <ul>
            <li>Face to Face Counselling £60 per 50 minute session</li>
            <li>Online or Telephone Counselling £50 per 50 minute session.</li>
            <li>Payments are made 24 hours before the appointment time by bank transfer</li>
            <li>Free Initial 15 minute telephone/online consultation.</li>
        </ul>
    </div>
</div>


<script defer src="jsFiles/fees.js"></script>
<script defer src="jsFiles/altNav.js"></script>
<%- include("partials/footer.ejs") %>