<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/home/layout.css">
<link rel="stylesheet" href="styles/home/content.css">


<div class="home-container">
    <div class="background"><img src="images/sun.jpg"></div>

    <div class="title-page">
        <div class="title-page-logo"><img src="images/logo.png"></div>
    </div>

    <div class="home-special-container">
        <div class="home-content-background"></div>
        <div class="home-content-container">
            <div class="hi"><h2>Hi, I'm Catherine</h2></div>
            <div class="intro-img"><img src="images/front-photo.jpg"></div>
            <div class="welcome-text"><p>Welcome to MindWell Counselling.
                                        I provide counselling for adults and young people aged 16-18.
                                        I currently have availability for new clients online or on the phone.
                                        </p></div>
            <div><button class="request-button" type="button" href="/contact">Request a free <br>consultation</button></div>
            <div class="understand-text"><p>I understand that contacting a counsellor to talk about your thoughts and
                                            feelings can seem daunting or overwhelming. That’s why, from your first
                                            phone call or email, I take time to support you and to answer any questions you
                                            may have about counselling or the way I work.
                                            </p></div>
            <div class="video"></div>
        </div>
    </div>


</div>

<script defer src="jsFiles/home.js"></script>
<%- include("partials/footer.ejs") %>