.background-benefits {
    height: 270vh;
    width: 100vh;
    position: absolute;
    z-index: -1;
}

.benefits-container {
    margin-top: 14vh;
    color: var(--uni-white);
    text-align: center;
}

.benefits-container div {
    margin-bottom: 10vh;
}

.benefits-container img {
    border-radius: 5px;
}

.benefits-container h2 {
    margin-bottom: 2vh;
}

.clarity-container {
    margin-top: 5vh;
}
