.home-special-container {
    display: flex;
    justify-content: center;
}

.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.title-page-logo img{
    height: 66.25px;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.home-content-container div {
    margin-top: 5vh;
}

.home-content-background {
    width: 90vw;
    height: 150vh;
    z-index: -1;
    position: absolute;
    top: 100vh;

}

.intro-img img{
    height: 351px;
}

.request-button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--uni-white);
}