div { outline: 1px solid red !important; }


* {
    margin: 0px;
    padding: 0px;
}

.background-container {
    position: fixed;
    z-index: -1000;
}

.page-container {
    width: 100vw;
    padding-bottom: 2vh;
}

.page-title {
    padding-top: 8vh;
    text-align: center;
}

.forest-background {
    height: 100vh;
    width: auto;
}

.brrgrr {
    position: fixed;
    z-index: 1001;
    top: 2vh;
    left: 85vw;
}

.brrgrr div {
    margin-top: 0.2rem;
    height: 0.3rem;
    width: 10vw;
    border-radius: 1px;
}

.nav-menu {
    width: 60vw;
    height: 100vh;
    position: fixed;
    right: -95vw;
    top: 0px;
    z-index: 1000;
    opacity: 0%;

    transition: right 0.6s ease, opacity 0.5s ease;

    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 5vh;

    border-radius: 10px;
}

.show {
    right: 0px;
    opacity: 100%;
    transition: right 0.6s ease, opacity 0.5s ease;
}

.navbar-title{
    width: 80%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10vh;
}

.underline-navbar {
    width: 70%;
    height: 0.2vh;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 0px 5vw 1vh 5vw;
    border-radius: 10px;
    margin-top: 2vh;
    text-align: center;
}

.footer-container img {
    width: 12rem;
    border-radius: 10px;
}

.footer-container a {
    text-decoration: none;
}

.footer-container h1 {
    font-size: 2.5rem;
}

.footer-container h3 {
    font-size: 1.5rem;
}

.tcs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
