.about-special-container {
    display: flex;
    justify-content: center;
}

.about-background {
    height: 300vh;
    width: 100vw;
    position: absolute;
    z-index: -100;
}

.about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
    color: var(--uni-white);
    width: 80vw;
    text-align: center;
}

.about-content-container div {
    margin-top: 2vh;
}

.about-header {
    text-align: center;
}

.about-content-container img {
    height: 351px;
    border-radius: 5px;
}

.about-text {
    text-align: center;
}

.training-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.training-container div {
    margin: 0.5vh;
    text-align: center;
}

.training-container h3 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 0.5vh;
}

.depression {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.anxiety {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.suicidal-thoughts {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.neurodiversity {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.child-abuse {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.low-self-esteem {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.qualifications-container ul {
    text-align: left;
}

.qualifications-container * {
    margin-top: 1vh;
}

.about-content-container * {
    margin-top: 2vh;
}