* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

.hamburger-container {
    position: fixed;
    right: -80vw;
    top: 0;
    transition: right 1s ease;

    height: 100vh;
    width: 80vw;
    text-align: right;

    z-index: 999;
}

.hamburger-container li {
    margin-top: 7vh;
    margin-right: 20px;
}
.hamburger-container li:first-child {
    margin-top: 12vh;
}

.hamburger-container li:nth-child(2) {
    margin-top: 8vh;
}

.active {
    right: 0;
}

.hamburger-icon {
    position: fixed;
    right: 20px;
    top: 31px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s ease;
}

.hamburger-icon div {
    background-color: var(--uni-white);
    height: 3px;
    width: 47px;
    margin-top: 6px;
    border-radius: 10px;
}

.navbar-mobile {
    height: 91px;
    width: 100vw;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
    position: fixed;
    z-index: 998;
}

.navbar-mobile img {
    height: 66.25px;
    margin-left: 5vw;
}
.navbar-active {
    opacity: 0;
}

.navbar-mobile-active {
    opacity: 1;
}

.background img {
    height: 100vh;
    position: fixed;
    left: -100%;
    z-index: -1000;
}